* {
  margin: 0;
  padding: 0;
  font-weight: 300;
}

html{
  background-color:  #93D5F7FF;
}
#navbar{
  background-color: #FFE943FF;
  display: grid;
  place-items: center;
}

#navbar>img{
  padding: 20px;
}
.search-combine{
  display: flex;
  align-items: center;
}
.search-combine>input{
  margin: 10px 2px 10px;
  width:30vw ;
}
.search-combine>button{ 
color: white;
 background-color:#5A656BFF ;
 padding: 8px;
 border: none;
 border-radius: 5px;
}

.container{
  display: grid;
  place-items: center;
  background-color: #93D5F7FF;
}
.card{
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1.0);
}
.wrong-pokemon{
  font-family: arial;
}